# Project 1

## Group One: Covid 19 | Part One: Data Cleansing

Team Members: Michael Bien, Lupita Lopez, Jinah Porter, Debra Wu

### Research Questions to Answer:

1. WORLD: Compare COVID deaths by GDP by Country: Does a higher GDP result in a lower number of COVID deaths?

2. US: Examine death rates by age group and determine is children under 10 die at a lower rate, adults 60+ at a higher rate

3. US: Compare cases/deaths by state

4. US: Does pre-COVID state GDP related to the cases/deaths in a given state

5. March shutdown, 4th of July and Memorial Day: compare 2 months of shutdown vs. reopening: how did reopening affect case and death rates? 

6. US: Is there a relationship between COVID cases/deaths and gender?

7. US: Is there a relationship between COVID cases/deaths and ethnicity?

In [2]:
#Import necessary libraries
import pandas as pd
import os
import requests
import numpy as np
import requests
from pprint import pprint
import json
import gmaps
import matplotlib.pyplot as plt
import numpy as np

# Import API key
from api_keys import g_key

In D:\Users\mcbie\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Users\mcbie\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Users\mcbie\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In D:\Users\mcbie\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Users\mcbie\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Users\mcbie\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Users\mcbie\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Users\mcbie\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

Import World Bank data by Country; source: https://databank.worldbank.org/reports.aspx?source=2&series=NY.GDP.MKTP.CD&country=#

In [3]:
# Import world_bank_data.csv
file_path = os.path.join("..","source_data","world_bank_data.csv")
world_bank_df = pd.read_csv(file_path)
# Drop countries where the 2018 GDP is null, this is indicated by ".."
#Logic: Countries with no GDP data do not contribute to the analysis by GDP
world_bank_df = world_bank_df[world_bank_df["2018 [YR2018]"] != ".."]
world_bank_df.head()

     Country Name Country Code 2018 [YR2018]
0     Afghanistan          AFG   19484384937
1         Albania          ALB   15147020535
2         Algeria          DZA      1.74E+11
3  American Samoa          ASM     636000000
4         Andorra          AND    3218316013

In [4]:
# dropping rows by index number range. These rows represent aggregations of the country data and are not useful in the analysis
world_bank_df.drop(world_bank_df.loc[217:263].index, inplace=True)
world_bank_df.tail(5)
# convert 2018 GDP to Millions
world_bank_df["2018 [YR2018]"] = world_bank_df["2018 [YR2018]"].astype(float)
#world_bank_df["2018 [YR2018]"] = round(world_bank_df["2018 [YR2018]"]/100000000000,0)
#Rename 2018 [YR2018] column
world_bank_df.rename(columns={"2018 [YR2018]": "2018 GDP USD"}, inplace=True)
world_bank_df.describe()

       2018 GDP USD
count  1.970000e+02
mean   4.291799e+11
std    1.850252e+12
min    4.258816e+07
25%    7.049170e+09
50%    3.074716e+10
75%    2.180000e+11
max    2.050000e+13

Johns Hopkins Country Data with iso: https://documenter.getpostman.com/view/10724784/SzYXWz3x?version=latest
Johns Hopkins Case Data by Country: https://documenter.getpostman.com/view/5352730/SzYbyxR5?version=latest

In [5]:
# Grab Johns Hopkins country list with 3 character country code
JH_countries = requests.get("https://covid-api.com/api/regions").json()
JH_countries_list_df = pd.DataFrame(JH_countries["data"])
JH_countries_list_df = JH_countries_list_df[["name","iso"]]
JH_countries_list_df = JH_countries_list_df.sort_values(by='name', ascending=True)
JH_countries_list_df.head()

            name  iso
37   Afghanistan  AFG
106      Albania  ALB
41       Algeria  DZA
70       Andorra  AND
178       Angola  AGO

In [6]:
# create empty columns for deaths, confirmed, recovered
JH_countries_list_df["JH Deaths"] = ""
JH_countries_list_df["JH Confirmed"] = ""
JH_countries_list_df["JH Recovered"] = ""
# create empty list to gather country lookuop errors
JH_country_no_data = []

# John Hopkins base url
base_url = "https://covid19-stats-api.herokuapp.com/api/v1/cases?country="
for index,row in JH_countries_list_df.iterrows():
    country_lookup = row["name"]
    request_url = base_url + country_lookup
    response = requests.get(request_url).json()
    try:
        confirm_JH = response["confirmed"]
        row["JH Confirmed"] = confirm_JH
        death_JH = response["deaths"]
        row["JH Deaths"] = death_JH
        recovered_JH = response["recovered"]
        row["JH Recovered"] = recovered_JH
        print(f"Processing country | {country_lookup} | {response}")
        
    except KeyError:
        print(f"<<Data not found for {country_lookup}")
        JH_country_no_data.append(country_lookup)
        pass
print("** API call complete**")

Processing country | Afghanistan | {'confirmed': 38919, 'deaths': 1437, 'recovered': 32576}
Processing country | Albania | {'confirmed': 12226, 'deaths': 358, 'recovered': 6888}
Processing country | Algeria | {'confirmed': 49623, 'deaths': 1665, 'recovered': 34923}
Processing country | Andorra | {'confirmed': 1564, 'deaths': 53, 'recovered': 1164}
Processing country | Angola | {'confirmed': 3901, 'deaths': 147, 'recovered': 1445}
Processing country | Antigua and Barbuda | {'confirmed': 96, 'deaths': 3, 'recovered': 92}
Processing country | Argentina | {'confirmed': 622934, 'deaths': 12799, 'recovered': 478077}
Processing country | Armenia | {'confirmed': 47154, 'deaths': 928, 'recovered': 42551}
<<Data not found for Aruba
Processing country | Australia | {'confirmed': 26898, 'deaths': 849, 'recovered': 23966}
Processing country | Austria | {'confirmed': 37474, 'deaths': 765, 'recovered': 28961}
Processing country | Azerbaijan | {'confirmed': 39042, 'deaths': 574, 'recovered': 36601}
Processing country | Bahamas | {'confirmed': 3214, 'deaths': 73, 'recovered': 1679}
Processing country | Bahrain | {'confirmed': 64499, 'deaths': 221, 'recovered': 57299}
Processing country | Bangladesh | {'confirmed': 347372, 'deaths': 4913, 'recovered': 254386}
Processing country | Barbados | {'confirmed': 185, 'deaths': 7, 'recovered': 172}
Processing country | Belarus | {'confirmed': 75461, 'deaths': 776, 'recovered': 73212}
Processing country | Belgium | {'confirmed': 100748, 'deaths': 9944, 'recovered': 18945}
Processing country | Belize | {'confirmed': 1619, 'deaths': 22, 'recovered': 876}
Processing country | Benin | {'confirmed': 2280, 'deaths': 40, 'recovered': 1950}
Processing country | Bhutan | {'confirmed': 259, 'deaths': 0, 'recovered': 190}
Processing country | Bolivia | {'confirmed': 130470, 'deaths': 7586, 'recovered': 89032}
Processing country | Bosnia and Herzegovina | {'confirmed': 25217, 'deaths': 758, 'recovered': 17489}
Processing country | Botswana | {'confirmed': 2567, 'deaths': 13, 'recovered': 624}
Processing country | Brazil | {'confirmed': 4800125, 'deaths': 154515, 'recovered': 4320836}
Processing country | Brunei | {'confirmed': 145, 'deaths': 3, 'recovered': 142}
Processing country | Bulgaria | {'confirmed': 18819, 'deaths': 755, 'recovered': 13558}
Processing country | Burkina Faso | {'confirmed': 1816, 'deaths': 56, 'recovered': 1176}
Processing country | Burma | {'confirmed': 5263, 'deaths': 81, 'recovered': 1188}
Processing country | Burundi | {'confirmed': 473, 'deaths': 1, 'recovered': 374}
Processing country | Cabo Verde | {'confirmed': 5186, 'deaths': 50, 'recovered': 4581}
Processing country | Cambodia | {'confirmed': 275, 'deaths': 0, 'recovered': 274}
Processing country | Cameroon | {'confirmed': 20431, 'deaths': 416, 'recovered': 19124}
Processing country | Canada | {'confirmed': 144625, 'deaths': 9262, 'recovered': 161166}
<<Data not found for Cayman Islands
Processing country | Central African Republic | {'confirmed': 4786, 'deaths': 62, 'recovered': 1830}
Processing country | Chad | {'confirmed': 1149, 'deaths': 81, 'recovered': 966}
<<Data not found for Channel Islands
Processing country | Chile | {'confirmed': 494253, 'deaths': 12763, 'recovered': 439608}
Processing country | China | {'confirmed': 90334, 'deaths': 4737, 'recovered': 85226}
Processing country | Colombia | {'confirmed': 782502, 'deaths': 24842, 'recovered': 633796}
Processing country | Comoros | {'confirmed': 470, 'deaths': 7, 'recovered': 450}
Processing country | Congo (Brazzaville) | {'confirmed': 4986, 'deaths': 89, 'recovered': 3887}
Processing country | Congo (Kinshasa) | {'confirmed': 10488, 'deaths': 268, 'recovered': 9891}
Processing country | Costa Rica | {'confirmed': 63712, 'deaths': 706, 'recovered': 23552}
Processing country | Cote d'Ivoire | {'confirmed': 19269, 'deaths': 120, 'recovered': 18392}
Processing country | Croatia | {'confirmed': 14725, 'deaths': 244, 'recovered': 12353}
<<Data not found for Cruise Ship
Processing country | Cuba | {'confirmed': 5055, 'deaths': 113, 'recovered': 4284}
<<Data not found for Curacao
Processing country | Cyprus | {'confirmed': 1590, 'deaths': 22, 'recovered': 1282}
Processing country | Czechia | {'confirmed': 48306, 'deaths': 499, 'recovered': 24228}
Processing country | Denmark | {'confirmed': 22881, 'deaths': 635, 'recovered': 17742}
Processing country | Diamond Princess | {'confirmed': 712, 'deaths': 13, 'recovered': 651}
Processing country | Djibouti | {'confirmed': 5403, 'deaths': 61, 'recovered': 5333}
Processing country | Dominica | {'confirmed': 24, 'deaths': 0, 'recovered': 18}
Processing country | Dominican Republic | {'confirmed': 107700, 'deaths': 2044, 'recovered': 80820}
Processing country | Ecuador | {'confirmed': 125620, 'deaths': 11084, 'recovered': 97063}
Processing country | Egypt | {'confirmed': 101900, 'deaths': 5750, 'recovered': 88666}
Processing country | El Salvador | {'confirmed': 27428, 'deaths': 808, 'recovered': 21247}
Processing country | Equatorial Guinea | {'confirmed': 5002, 'deaths': 83, 'recovered': 4509}
Processing country | Eritrea | {'confirmed': 364, 'deaths': 0, 'recovered': 305}
Processing country | Estonia | {'confirmed': 2875, 'deaths': 64, 'recovered': 2374}
Processing country | Eswatini | {'confirmed': 5245, 'deaths': 104, 'recovered': 4571}
Processing country | Ethiopia | {'confirmed': 68131, 'deaths': 1089, 'recovered': 27939}
<<Data not found for Faroe Islands
Processing country | Fiji | {'confirmed': 32, 'deaths': 2, 'recovered': 26}
Processing country | Finland | {'confirmed': 8922, 'deaths': 339, 'recovered': 7700}
Processing country | France | {'confirmed': 597268, 'deaths': 45089, 'recovered': 119977}
<<Data not found for French Guiana
Processing country | Gabon | {'confirmed': 8696, 'deaths': 53, 'recovered': 7848}
Processing country | Gambia | {'confirmed': 3504, 'deaths': 108, 'recovered': 1992}
Processing country | Georgia | {'confirmed': 3306, 'deaths': 19, 'recovered': 1481}
Processing country | Germany | {'confirmed': 447030, 'deaths': 17249, 'recovered': 389210}
Processing country | Ghana | {'confirmed': 45877, 'deaths': 297, 'recovered': 45081}
<<Data not found for Gibraltar
Processing country | Greece | {'confirmed': 14978, 'deaths': 331, 'recovered': 1347}
<<Data not found for Greenland
Processing country | Grenada | {'confirmed': 24, 'deaths': 0, 'recovered': 24}
<<Data not found for Guadeloupe
<<Data not found for Guam
Processing country | Guatemala | {'confirmed': 85152, 'deaths': 3105, 'recovered': 74497}
<<Data not found for Guernsey
Processing country | Guinea | {'confirmed': 10286, 'deaths': 63, 'recovered': 9681}
Processing country | Guinea-Bissau | {'confirmed': 2303, 'deaths': 39, 'recovered': 1127}
Processing country | Guyana | {'confirmed': 2168, 'deaths': 64, 'recovered': 1331}
Processing country | Haiti | {'confirmed': 8600, 'deaths': 221, 'recovered': 6363}
Processing country | Holy See | {'confirmed': 12, 'deaths': 0, 'recovered': 12}
Processing country | Honduras | {'confirmed': 71143, 'deaths': 2166, 'recovered': 21810}
Processing country | Hungary | {'confirmed': 16920, 'deaths': 675, 'recovered': 4382}
Processing country | Iceland | {'confirmed': 2307, 'deaths': 10, 'recovered': 2116}
Processing country | India | {'confirmed': 5573964, 'deaths': 93092, 'recovered': 4337528}
Processing country | Indonesia | {'confirmed': 240687, 'deaths': 9448, 'recovered': 174350}
Processing country | Iran | {'confirmed': 419043, 'deaths': 24118, 'recovered': 357632}
Processing country | Iraq | {'confirmed': 315597, 'deaths': 8491, 'recovered': 249539}
Processing country | Ireland | {'confirmed': 32538, 'deaths': 1792, 'recovered': 23364}
Processing country | Israel | {'confirmed': 183602, 'deaths': 1226, 'recovered': 132449}
Processing country | Italy | {'confirmed': 518673, 'deaths': 66798, 'recovered': 330257}
Processing country | Jamaica | {'confirmed': 4758, 'deaths': 60, 'recovered': 1327}
Processing country | Japan | {'confirmed': 95313, 'deaths': 2362, 'recovered': 84024}
<<Data not found for Jersey
Processing country | Jordan | {'confirmed': 4540, 'deaths': 30, 'recovered': 2672}
Processing country | Kazakhstan | {'confirmed': 107262, 'deaths': 1671, 'recovered': 101877}

Processing country | Kenya | {'confirmed': 36829, 'deaths': 646, 'recovered': 23777}
Processing country | Korea, South | {'confirmed': 22975, 'deaths': 383, 'recovered': 20158}
Processing country | Kosovo | {'confirmed': 12683, 'deaths': 488, 'recovered': 8788}
Processing country | Kuwait | {'confirmed': 99049, 'deaths': 581, 'recovered': 89498}
Processing country | Kyrgyzstan | {'confirmed': 45335, 'deaths': 1063, 'recovered': 41484}
Processing country | Laos | {'confirmed': 23, 'deaths': 0, 'recovered': 22}
Processing country | Latvia | {'confirmed': 1515, 'deaths': 36, 'recovered': 1248}
Processing country | Lebanon | {'confirmed': 28297, 'deaths': 286, 'recovered': 11440}
Processing country | Lesotho | {'confirmed': 1390, 'deaths': 33, 'recovered': 754}
Processing country | Liberia | {'confirmed': 1335, 'deaths': 82, 'recovered': 1216}
Processing country | Libya | {'confirmed': 27234, 'deaths': 436, 'recovered': 14679}
Processing country | Liechtenstein | {'confirmed': 113, 'deaths': 1, 'recovered': 109}
Processing country | Lithuania | {'confirmed': 3664, 'deaths': 87, 'recovered': 2197}
Processing country | Luxembourg | {'confirmed': 7718, 'deaths': 124, 'recovered': 6703}
Processing country | MS Zaandam | {'confirmed': 18, 'deaths': 4, 'recovered': 0}
<<Data not found for Macao SAR
Processing country | Madagascar | {'confirmed': 16020, 'deaths': 219, 'recovered': 14630}
Processing country | Malawi | {'confirmed': 5718, 'deaths': 179, 'recovered': 4030}
Processing country | Malaysia | {'confirmed': 10167, 'deaths': 130, 'recovered': 9315}
Processing country | Maldives | {'confirmed': 9649, 'deaths': 33, 'recovered': 8188}
Processing country | Mali | {'confirmed': 3006, 'deaths': 128, 'recovered': 2349}
Processing country | Malta | {'confirmed': 2699, 'deaths': 19, 'recovered': 2017}
<<Data not found for Martinique
Processing country | Mauritania | {'confirmed': 7372, 'deaths': 162, 'recovered': 6929}
Processing country | Mauritius | {'confirmed': 366, 'deaths': 10, 'recovered': 338}
<<Data not found for Mayotte
Processing country | Mexico | {'confirmed': 748467, 'deaths': 78924, 'recovered': 623479}
Processing country | Moldova | {'confirmed': 46336, 'deaths': 1201, 'recovered': 34236}
Processing country | Monaco | {'confirmed': 192, 'deaths': 1, 'recovered': 152}
Processing country | Mongolia | {'confirmed': 312, 'deaths': 0, 'recovered': 302}
Processing country | Montenegro | {'confirmed': 7898, 'deaths': 134, 'recovered': 5129}
Processing country | Morocco | {'confirmed': 99816, 'deaths': 1795, 'recovered': 79008}
Processing country | Mozambique | {'confirmed': 6537, 'deaths': 41, 'recovered': 3620}
Processing country | Namibia | {'confirmed': 10292, 'deaths': 111, 'recovered': 7969}
Processing country | Nepal | {'confirmed': 62797, 'deaths': 401, 'recovered': 45267}
Processing country | Netherlands | {'confirmed': 147612, 'deaths': 12457, 'recovered': 2721}
Processing country | New Zealand | {'confirmed': 1815, 'deaths': 25, 'recovered': 1719}
Processing country | Nicaragua | {'confirmed': 4961, 'deaths': 147, 'recovered': 2913}
Processing country | Niger | {'confirmed': 1183, 'deaths': 69, 'recovered': 1104}
Processing country | Nigeria | {'confirmed': 57145, 'deaths': 1095, 'recovered': 48431}
Processing country | North Macedonia | {'confirmed': 16557, 'deaths': 689, 'recovered': 13792}
Processing country | Norway | {'confirmed': 12858, 'deaths': 267, 'recovered': 10371}
Processing country | Oman | {'confirmed': 91753, 'deaths': 818, 'recovered': 84648}
<<Data not found for Others
Processing country | Pakistan | {'confirmed': 413988, 'deaths': 8588, 'recovered': 327321}
Processing country | Panama | {'confirmed': 105601, 'deaths': 2247, 'recovered': 80190}
Processing country | Papua New Guinea | {'confirmed': 516, 'deaths': 6, 'recovered': 232}
Processing country | Paraguay | {'confirmed': 33015, 'deaths': 636, 'recovered': 17535}
Processing country | Peru | {'confirmed': 892317, 'deaths': 35266, 'recovered': 650682}
Processing country | Philippines | {'confirmed': 283460, 'deaths': 4930, 'recovered': 209885}
Processing country | Poland | {'confirmed': 78330, 'deaths': 2282, 'recovered': 63861}
Processing country | Portugal | {'confirmed': 68025, 'deaths': 1899, 'recovered': 45404}
<<Data not found for Puerto Rico
Processing country | Qatar | {'confirmed': 123146, 'deaths': 209, 'recovered': 120089}
<<Data not found for Reunion
Processing country | Romania | {'confirmed': 111550, 'deaths': 4402, 'recovered': 89119}
Processing country | Russia | {'confirmed': 1498758, 'deaths': 23963, 'recovered': 1075428}
Processing country | Rwanda | {'confirmed': 4689, 'deaths': 26, 'recovered': 2910}
<<Data not found for Saint Barthelemy
Processing country | Saint Kitts and Nevis | {'confirmed': 17, 'deaths': 0, 'recovered': 17}
Processing country | Saint Lucia | {'confirmed': 27, 'deaths': 0, 'recovered': 26}
<<Data not found for Saint Martin
Processing country | Saint Vincent and the Grenadines | {'confirmed': 64, 'deaths': 0, 'recovered': 64}
Processing country | San Marino | {'confirmed': 723, 'deaths': 42, 'recovered': 669}
Processing country | Sao Tome and Principe | {'confirmed': 908, 'deaths': 15, 'recovered': 876}
Processing country | Saudi Arabia | {'confirmed': 329271, 'deaths': 4458, 'recovered': 309430}
Processing country | Senegal | {'confirmed': 14688, 'deaths': 302, 'recovered': 11153}
Processing country | Serbia | {'confirmed': 32840, 'deaths': 740, 'recovered': 0}
Processing country | Seychelles | {'confirmed': 141, 'deaths': 0, 'recovered': 136}
Processing country | Sierra Leone | {'confirmed': 2159, 'deaths': 72, 'recovered': 1650}
Processing country | Singapore | {'confirmed': 57558, 'deaths': 27, 'recovered': 57142}
Processing country | Slovakia | {'confirmed': 6546, 'deaths': 39, 'recovered': 3519}
Processing country | Slovenia | {'confirmed': 4309, 'deaths': 141, 'recovered': 2981}
Processing country | Somalia | {'confirmed': 3401, 'deaths': 98, 'recovered': 2812}
Processing country | South Africa | {'confirmed': 659656, 'deaths': 15940, 'recovered': 589434}
Processing country | South Sudan | {'confirmed': 2642, 'deaths': 49, 'recovered': 1290}
Processing country | Spain | {'confirmed': 868731, 'deaths': 57599, 'recovered': 291199}
Processing country | Sri Lanka | {'confirmed': 3283, 'deaths': 13, 'recovered': 3070}
Processing country | Sudan | {'confirmed': 13535, 'deaths': 836, 'recovered': 6759}
Processing country | Suriname | {'confirmed': 4709, 'deaths': 97, 'recovered': 4383}
Processing country | Sweden | {'confirmed': 130120, 'deaths': 10427, 'recovered': 0}
Processing country | Switzerland | {'confirmed': 49283, 'deaths': 2045, 'recovered': 40500}
Processing country | Syria | {'confirmed': 3765, 'deaths': 170, 'recovered': 932}
<<Data not found for Taipei and environs
Processing country | Taiwan* | {'confirmed': 506, 'deaths': 7, 'recovered': 479}
Processing country | Tajikistan | {'confirmed': 9303, 'deaths': 73, 'recovered': 8066}
Processing country | Tanzania | {'confirmed': 509, 'deaths': 21, 'recovered': 183}
Processing country | Thailand | {'confirmed': 3506, 'deaths': 59, 'recovered': 3340}
Processing country | Timor-Leste | {'confirmed': 27, 'deaths': 0, 'recovered': 26}
Processing country | Togo | {'confirmed': 1659, 'deaths': 41, 'recovered': 1259}
Processing country | Trinidad and Tobago | {'confirmed': 3853, 'deaths': 61, 'recovered': 1695}
Processing country | Tunisia | {'confirmed': 9110, 'deaths': 138, 'recovered': 2366}
Processing country | Turkey | {'confirmed': 301348, 'deaths': 7445, 'recovered': 266117}
Processing country | US | {'confirmed': 7053657, 'deaths': 224890, 'recovered': 2577446}
Processing country | Uganda | {'confirmed': 6017, 'deaths': 63, 'recovered': 2581}
Processing country | Ukraine | {'confirmed': 200720, 'deaths': 4293, 'recovered': 89209}
Processing country | United Arab Emirates | {'confirmed': 84242, 'deaths': 404, 'recovered': 73512}
Processing country | United Kingdom | {'confirmed': 682988, 'deaths': 82976, 'recovered': 2227}
Processing country | Uruguay | {'confirmed': 1904, 'deaths': 46, 'recovered': 1612}
Processing country | Uzbekistan | {'confirmed': 50992, 'deaths': 427, 'recovered': 47271}

Processing country | Venezuela | {'confirmed': 65949, 'deaths': 539, 'recovered': 55155}
Processing country | Vietnam | {'confirmed': 1068, 'deaths': 35, 'recovered': 942}
Processing country | West Bank and Gaza | {'confirmed': 35003, 'deaths': 253, 'recovered': 23446}
Processing country | Western Sahara | {'confirmed': 14, 'deaths': 1, 'recovered': 8}
Processing country | Yemen | {'confirmed': 2026, 'deaths': 585, 'recovered': 1221}
Processing country | Zambia | {'confirmed': 14070, 'deaths': 330, 'recovered': 13365}
Processing country | Zimbabwe | {'confirmed': 7672, 'deaths': 225, 'recovered': 5914}
** API call complete**

In [7]:
print(JH_country_no_data)

['Aruba', 'Cayman Islands', 'Channel Islands', 'Cruise Ship', 'Curacao', 'Faroe Islands', 'French Guiana', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Guernsey', 'Jersey', 'Macao SAR', 'Martinique', 'Mayotte', 'Others', 'Puerto Rico', 'Reunion', 'Saint Barthelemy', 'Saint Martin', 'Taipei and environs']

In [8]:
# Drop rows with zero death using the following logic:
# 1. The list of countries and case data were obtained independently from two different Johns Hopkins apis
# 2. Instance where the Johns Hopkins country returns a null for Johns Hopkins cases indicates that the countries with null cases can be droppped as the case data is not being tracked
JH_countries_list_df = JH_countries_list_df[JH_countries_list_df["JH Deaths"] != ""]
JH_countries_list_df.shape

(188, 5)

In [9]:
# merge World Bank and Johns Hopkins dataframes on iso
#rename columns for merge
JH_countries_list_df.rename(columns={"iso":"Country Code"}, inplace=True)
WB_JH_merge_df = pd.merge(world_bank_df,JH_countries_list_df,on="Country Code",how="outer")
WB_JH_merge_df.head()

,Country Name,Country Code,2018 GDP USD,name,JH Deaths,JH Confirmed,JH Recovered
0,Afghanistan,AFG,1.948438e+10,Afghanistan,1437,38919,32576
1,Albania,ALB,1.514702e+10,Albania,358,12226,6888
2,Algeria,DZA,1.740000e+11,Algeria,1665,49623,34923
3,American Samoa,ASM,6.360000e+08,NaN,NaN,NaN,NaN
4,Andorra,AND,3.218316e+09,Andorra,53,1564,1164

In [10]:
# capture rows where there is no JH data
JH_no_data = WB_JH_merge_df[WB_JH_merge_df["JH Deaths"].isnull()]
JH_no_data

,Country Name,Country Code,2018 GDP USD,name,JH Deaths,JH Confirmed,JH Recovered
3,American Samoa,ASM,6.360000e+08,NaN,NaN,NaN,NaN
33,Cayman Islands,CYM,5.485419e+09,NaN,NaN,NaN,NaN
46,Curacao,CUW,3.127908e+09,NaN,NaN,NaN,NaN
69,Greenland,GRL,3.051626e+09,NaN,NaN,NaN,NaN
71,Guam,GUM,5.920000e+09,NaN,NaN,NaN,NaN
78,"Hong Kong SAR, China",HKG,3.620000e+11,NaN,NaN,NaN,NaN
92,Kiribati,KIR,1.967379e+08,NaN,NaN,NaN,NaN
94,Kosovo,XKX,7.942962e+09,NaN,NaN,NaN,NaN
105,"Macao SAR, China",MAC,5.508405e+10,NaN,NaN,NaN,NaN
112,Marshall Islands,MHL,2.212780e+08,NaN,NaN,NaN,NaN
116,"Micronesia, Fed. Sts.",FSM,4.019323e+08,NaN,NaN,NaN,NaN
125,Nauru,NRU,1.240214e+08,NaN,NaN,NaN,NaN
133,Northern Mariana Islands,MNP,1.323000e+09,NaN,NaN,NaN,NaN
137,Palau,PLW,2.839949e+08,NaN,NaN,NaN,NaN
145,Puerto Rico,PRI,1.010000e+11,NaN,NaN,NaN,NaN
150,Samoa,WSM,8.204918e+08,NaN,NaN,NaN,NaN
161,Solomon Islands,SLB,1.395608e+09,NaN,NaN,NaN,NaN
177,Tonga,TON,4.503533e+08,NaN,NaN,NaN,NaN
181,Turkmenistan,TKM,4.076114e+10,NaN,NaN,NaN,NaN
182,Turks and Caicos Islands,TCA,1.022312e+09,NaN,NaN,NaN,NaN
183,Tuvalu,TUV,4.258816e+07,NaN,NaN,NaN,NaN
191,Vanuatu,VUT,9.060501e+08,NaN,NaN,NaN,NaN

In [11]:
# drop nulls where there is no JH data - logic:
#This analysis is of case data:
# 1.coutries without case data do not contribute to the analysis 
# 2. The dataset was joined on the iso3, which provides an exact match between datasets
WB_JH_merge_df = WB_JH_merge_df[WB_JH_merge_df["JH Deaths"].notnull()]
# Replace blank Country Names with name
WB_JH_merge_df["Country Name"].fillna(WB_JH_merge_df["name"], inplace=True)
# Fix minor Country Name value issues
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Taiwan*", "Taiwan")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Korea, Rep.", "South Korea")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Gambia, The", "Gambia")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("St. Lucia", "Saint Lucia")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Egypt, Arab Rep.", "Egypt")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Yemen, Rep.", "Yemen")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Congo, Dem. Rep.", "Democratic Republic of the Congo")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Congo, Rep.", "Republic of the Congo")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Kyrgyz Republic", "Kyrgyzstan")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Bahamas, The", "The Bahamas")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Congo, Rep.", "Republic of the Congo")
# Convert 2018 GDB to integer
#world_bank_df["2018 GDP ($MM USD)"] = world_bank_df["2018 GDP ($MM USD)"].astype(int)
WB_JH_merge_df.head()

,Country Name,Country Code,2018 GDP USD,name,JH Deaths,JH Confirmed,JH Recovered
0,Afghanistan,AFG,1.948438e+10,Afghanistan,1437,38919,32576
1,Albania,ALB,1.514702e+10,Albania,358,12226,6888
2,Algeria,DZA,1.740000e+11,Algeria,1665,49623,34923
4,Andorra,AND,3.218316e+09,Andorra,53,1564,1164
5,Angola,AGO,1.010000e+11,Angola,147,3901,1445

In [12]:
#Confirming that there are no blank countries on the WB_JH_merge_df
countries_not_on_WB = WB_JH_merge_df[WB_JH_merge_df["Country Name"].isnull()]
countries_not_on_WB.shape

(0, 7)

In [13]:
# Read population table from wiki
WIKI_population_df = pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population_density")
# Return the first table in the list of tables
WIKI_population_df = WIKI_population_df[0]
# use join to rename double header of table
WIKI_population_df.columns = ["_".join(col) for col in WIKI_population_df.columns]
# remove rows that represent the double footer
WIKI_population_df = WIKI_population_df[WIKI_population_df["Rank_Rank"] != "Rank"]
# rename columns
WIKI_population_df.rename(columns={"Rank_Rank": "Rank", "Country (or dependent territory)_Country (or dependent territory)": "Country Name","Area_km2": "Area (km2)","Area_mi2": "Area (mi2)","Population_Population": "Population"}, inplace=True)
WIKI_population_df.rename(columns={"Density_pop./km2": "Population Density (km2)","Density_pop./mi2": "Population Density (mi2)"}, inplace=True)
# limit the df to the necessary columns
WIKI_population_df = WIKI_population_df[["Country Name", "Area (mi2)" , "Population", "Population Density (mi2)"]]
WIKI_population_df
# normalize WIKI_population Country Name values
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Vatican City[note 1]", "Holy See")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Kosovo[note 2]", "Kosovo")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Slovakia", "Slovak Republic")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Saint Vincent and the Grenadines", "St. Vincent and the Grenadines")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Saint Kitts and Nevis", "St. Kitts and Nevis")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("São Tomé and Príncipe", "Sao Tome and Principe")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Northern Cyprus[note 4]", "Cyprus")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Ivory Coast", "Cote d'Ivoire")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Ukraine [note 5]", "Ukraine")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Eswatini (Swaziland)", "Eswatini")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Brunei", "Brunei Darussalam")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Bahamas", "The Bahamas")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Uruguay[note 7][clarification needed]", "Uruguay")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Somaliland[note 8]", "Somalia")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Russia[note 11]", "Russian Federation")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Western Sahara[note 12]", "Western Sahara")

In [14]:
# merge WB_JH_merge_df with WIKI_population_df
WB_JH_WIKI_merge_df = pd.merge(WB_JH_merge_df,WIKI_population_df,on="Country Name",how="outer")
WB_JH_WIKI_merge_df.head()

,Country Name,Country Code,2018 GDP USD,name,JH Deaths,JH Confirmed,JH Recovered,Area (mi2),Population,Population Density (mi2)
0,Afghanistan,AFG,1.948438e+10,Afghanistan,1437,38919,32576,249347,31575018,127
1,Albania,ALB,1.514702e+10,Albania,358,12226,6888,11082,2862427,258
2,Algeria,DZA,1.740000e+11,Algeria,1665,49623,34923,919595,43000000,47
3,Andorra,AND,3.218316e+09,Andorra,53,1564,1164,179,76177,425
4,Angola,AGO,1.010000e+11,Angola,147,3901,1445,481354,29250009,61

In [15]:
# Using that to view the head and the tail of WB_JH_WIKI_NaNs to confirm that all nulls are no relevant to the anaysis
WB_JH_WIKI_NaNs = WB_JH_WIKI_merge_df[WB_JH_WIKI_merge_df["Country Code"].isnull()]
WB_JH_WIKI_NaNs.head(50)

,Country Name,Country Code,2018 GDP USD,name,JH Deaths,JH Confirmed,JH Recovered,Area (mi2),Population,Population Density (mi2)
190,Macau (China),NaN,NaN,NaN,NaN,NaN,NaN,45,696100,54799
191,Hong Kong (China),NaN,NaN,NaN,NaN,NaN,NaN,427,7500700,17565
192,Gibraltar (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,2.6,33701,12836
193,Bermuda (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,20,64027,3177
194,Sint Maarten (Netherlands),NaN,NaN,NaN,NaN,NaN,NaN,13,42876,3266
195,Jersey (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,45,104200,2327
196,Palestine,NaN,NaN,NaN,NaN,NaN,NaN,2324,4976684,2141
197,Guernsey (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,30,62723,2083
198,Mayotte (France),NaN,NaN,NaN,NaN,NaN,NaN,144,256518,1776
199,Saint Martin (France),NaN,NaN,NaN,NaN,NaN,NaN,21,35334,1720
200,Aruba (Netherlands),NaN,NaN,NaN,NaN,NaN,NaN,69,112309,1616
201,Nauru,NaN,NaN,NaN,NaN,NaN,NaN,8,11200,1381
202,Saint Barthélemy (France),NaN,NaN,NaN,NaN,NaN,NaN,8,9961,1229
203,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,10,10300,1026
204,Curaçao (Netherlands),NaN,NaN,NaN,NaN,NaN,NaN,171,158665,926
205,Puerto Rico (United States),NaN,NaN,NaN,NaN,NaN,NaN,3515,3195153,909
206,Réunion (France),NaN,NaN,NaN,NaN,NaN,NaN,967,853659,883
207,Martinique (France),NaN,NaN,NaN,NaN,NaN,NaN,436,371246,852
208,Guam (United States),NaN,NaN,NaN,NaN,NaN,NaN,209,175200,839
209,Marshall Islands,NaN,NaN,NaN,NaN,NaN,NaN,70,55900,800
210,United States Virgin Islands (United States),NaN,NaN,NaN,NaN,NaN,NaN,136,104909,772
211,American Samoa (United States),NaN,NaN,NaN,NaN,NaN,NaN,76,57100,751
212,Cayman Islands (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,100,65813,658
213,Guadeloupe (France),NaN,NaN,NaN,NaN,NaN,NaN,629,390253,621
214,British Virgin Islands (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,58,32206,552
215,North Korea,NaN,NaN,NaN,NaN,NaN,NaN,46541,25549604,549
216,Kiribati,NaN,NaN,NaN,NaN,NaN,NaN,313,125000,399
217,Sint Eustatius (Netherlands),NaN,NaN,NaN,NaN,NaN,NaN,8,3193,394
218,Federated States of Micronesia,NaN,NaN,NaN,NaN,NaN,NaN,271,105600,390
219,Saba (Netherlands),NaN,NaN,NaN,NaN,NaN,NaN,5,1947,388
220,Isle of Man (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,221,83314,377
221,Tokelau (New Zealand),NaN,NaN,NaN,NaN,NaN,NaN,4,1400,363
222,Anguilla (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,37,13452,363
223,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,278,100000,360
224,Cape Verde,NaN,NaN,NaN,NaN,NaN,NaN,1557,550483,354
225,Northern Mariana Islands (United States),NaN,NaN,NaN,NaN,NaN,NaN,176,56600,321
226,Transnistria[note 3],NaN,NaN,NaN,NaN,NaN,NaN,1607,469000,292
227,Wallis & Futuna (France),NaN,NaN,NaN,NaN,NaN,NaN,55,11600,212
228,French Polynesia (France),NaN,NaN,NaN,NaN,NaN,NaN,1359,280600,206
229,Turks and Caicos Islands (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,192,37910,198
230,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,1093,199300,182
231,Bonaire (Netherlands),NaN,NaN,NaN,NaN,NaN,NaN,111,18905,170
232,Cook Islands (New Zealand),NaN,NaN,NaN,NaN,NaN,NaN,92,15250,167
233,"World (land only, excluding Antarctica)",NaN,NaN,NaN,NaN,NaN,NaN,52100000,7814568000,150
234,World (land only),NaN,NaN,NaN,NaN,NaN,NaN,57510000,7814568000,136
235,Norfolk Island (Australia),NaN,NaN,NaN,NaN,NaN,NaN,14,1748,129
236,Montserrat (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,39,4922,125
237,Palau,NaN,NaN,NaN,NaN,NaN,NaN,171,17900,104
238,Cocos (Keeling) Islands (Australia),NaN,NaN,NaN,NaN,NaN,NaN,5,544,101
239,Faroe Islands (Denmark),NaN,NaN,NaN,NaN,NaN,NaN,540,50844,89

In [16]:
# All nulls below have been researched and name normalization has been completed
clean_data_by_country = WB_JH_WIKI_merge_df.dropna()
# Final data cleaning
del clean_data_by_country["name"]
clean_data_by_country.head()

,Country Name,Country Code,2018 GDP USD,JH Deaths,JH Confirmed,JH Recovered,Area (mi2),Population,Population Density (mi2)
0,Afghanistan,AFG,1.948438e+10,1437,38919,32576,249347,31575018,127
1,Albania,ALB,1.514702e+10,358,12226,6888,11082,2862427,258
2,Algeria,DZA,1.740000e+11,1665,49623,34923,919595,43000000,47
3,Andorra,AND,3.218316e+09,53,1564,1164,179,76177,425
4,Angola,AGO,1.010000e+11,147,3901,1445,481354,29250009,61

https://public.opendatasoft.com/explore/dataset/countries-codes/export/

In [17]:
# Import lat and lng data from csv
file_path = os.path.join("..","source_data","geo_spatial_data.csv")
geo_data = pd.read_csv(file_path,encoding = "ISO-8859-1")
# rename ISO3 Code
geo_data.rename(columns={"ISO3 CODE": "Country Code"}, inplace=True)
geo_data = geo_data[["Country Code","Lat","Lng"]]
geo_data.head()

  Country Code        Lat         Lng
0          SSD        NaN         NaN
1          TUR  39.061031   35.167267
2          CHN  36.560206  103.831751
3          LBY  27.030369   18.009595
4          GNB  12.027650  -14.976787

In [18]:
# merge clean data by country with geo_data via left merge
clean_data_by_country = pd.merge(clean_data_by_country,geo_data,on="Country Code",how="left")
# confirm shape in intact
clean_data_by_country.shape

(173, 11)

In [19]:

clean_data_by_country.head()

,Country Name,Country Code,2018 GDP USD,JH Deaths,JH Confirmed,JH Recovered,Area (mi2),Population,Population Density (mi2),Lat,Lng
0,Afghanistan,AFG,1.948438e+10,1437,38919,32576,249347,31575018,127,33.836449,66.008762
1,Albania,ALB,1.514702e+10,358,12226,6888,11082,2862427,258,41.142382,20.053634
2,Algeria,DZA,1.740000e+11,1665,49623,34923,919595,43000000,47,28.148952,2.653180
3,Andorra,AND,3.218316e+09,53,1564,1164,179,76177,425,42.542353,1.561301
4,Angola,AGO,1.010000e+11,147,3901,1445,481354,29250009,61,-12.292289,17.536979

In [20]:
# Checking dtypes of clean data by country
clean_data_by_country.dtypes

Country Name                 object
Country Code                 object
2018 GDP USD                float64
JH Deaths                    object
JH Confirmed                 object
JH Recovered                 object
Area (mi2)                   object
Population                   object
Population Density (mi2)     object
Lat                         float64
Lng                         float64
dtype: object

In [21]:
#Convert datatypes to float for calcuations
clean_data_by_country["2018 GDP USD"] = clean_data_by_country["2018 GDP USD"].astype(float)
clean_data_by_country["JH Deaths"] = clean_data_by_country["JH Deaths"].astype(str).astype(float)
clean_data_by_country["JH Confirmed"] = clean_data_by_country["JH Confirmed"].astype(str).astype(float)
clean_data_by_country["JH Recovered"] = clean_data_by_country["JH Recovered"].astype(str).astype(float)
clean_data_by_country["Area (mi2)"] = clean_data_by_country["Area (mi2)"].astype(str).astype(float)
clean_data_by_country["Population"] = clean_data_by_country["Population"].astype(str).astype(float)
clean_data_by_country["Population Density (mi2)"] = clean_data_by_country["Population Density (mi2)"].astype(str).astype(float)
clean_data_by_country["JH Deaths"] = clean_data_by_country["JH Deaths"].astype(str).astype(float)
clean_data_by_country["JH Deaths"] = clean_data_by_country["JH Deaths"].astype(str).astype(float)
clean_data_by_country.dtypes

Country Name                 object
Country Code                 object
2018 GDP USD                float64
JH Deaths                   float64
JH Confirmed                float64
JH Recovered                float64
Area (mi2)                  float64
Population                  float64
Population Density (mi2)    float64
Lat                         float64
Lng                         float64
dtype: object

In [22]:
# This cell is used to revert to the backup as necessary
#clean_data_by_country = country_backup_df

In [23]:
clean_data_by_country.head()

,Country Name,Country Code,2018 GDP USD,JH Deaths,JH Confirmed,JH Recovered,Area (mi2),Population,Population Density (mi2),Lat,Lng
0,Afghanistan,AFG,1.948438e+10,1437.0,38919.0,32576.0,249347.0,31575018.0,127.0,33.836449,66.008762
1,Albania,ALB,1.514702e+10,358.0,12226.0,6888.0,11082.0,2862427.0,258.0,41.142382,20.053634
2,Algeria,DZA,1.740000e+11,1665.0,49623.0,34923.0,919595.0,43000000.0,47.0,28.148952,2.653180
3,Andorra,AND,3.218316e+09,53.0,1564.0,1164.0,179.0,76177.0,425.0,42.542353,1.561301
4,Angola,AGO,1.010000e+11,147.0,3901.0,1445.0,481354.0,29250009.0,61.0,-12.292289,17.536979

In [24]:
clean_data_by_country["Population"] = clean_data_by_country["Population"]/1000000
clean_data_by_country.head()

,Country Name,Country Code,2018 GDP USD,JH Deaths,JH Confirmed,JH Recovered,Area (mi2),Population,Population Density (mi2),Lat,Lng
0,Afghanistan,AFG,1.948438e+10,1437.0,38919.0,32576.0,249347.0,31.575018,127.0,33.836449,66.008762
1,Albania,ALB,1.514702e+10,358.0,12226.0,6888.0,11082.0,2.862427,258.0,41.142382,20.053634
2,Algeria,DZA,1.740000e+11,1665.0,49623.0,34923.0,919595.0,43.000000,47.0,28.148952,2.653180
3,Andorra,AND,3.218316e+09,53.0,1564.0,1164.0,179.0,0.076177,425.0,42.542353,1.561301
4,Angola,AGO,1.010000e+11,147.0,3901.0,1445.0,481354.0,29.250009,61.0,-12.292289,17.536979

In [25]:
# export clean_data_by_country TO CSV
filepath = os.path.join("clean_data_files","clean_data_by_country.csv")
clean_data_by_country.to_csv(filepath)

CDC Data with Ethnicity: https://dev.socrata.com/foundry/data.cdc.gov/vbim-akqf

In [26]:
# Import CDC Data from CSV
file_path = os.path.join("..","source_data","COVID-19_Case_Surveillance_Public_Use_Data.csv")
cdc_raw_data = pd.read_csv(file_path)

D:\Users\mcbie\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
cdc_raw_data.head()

,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,Race and ethnicity (combined),hosp_yn,icu_yn,death_yn,medcond_yn
0,2020/03/03,2020/03/03,NaN,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
1,2020/03/03,2020/03/03,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
2,2020/04/07,2020/03/03,2020/03/03,Laboratory-confirmed case,Unknown,0 - 9 Years,Unknown,No,Missing,Missing,Missing
3,2020/08/04,2020/08/04,NaN,Probable Case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
4,2020/07/28,2020/08/04,2020/07/28,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,No,No,No,Missing

In [28]:
#split Race and ethnicity (combined) to isolate Race
cdc_raw_data["Race and ethnicity (combined)"]= cdc_raw_data["Race and ethnicity (combined)"].str.split(", ", n = 1, expand = True)
cdc_raw_data["Race and ethnicity (combined)"].value_counts()

Unknown                                   1604109
White                                      826556
Hispanic/Latino                            622825
Black                                      412907
Multiple/Other                              92105
Asian                                       68917
American Indian/Alaska Native               27041
Native Hawaiian/Other Pacific Islander       7859
Name: Race and ethnicity (combined), dtype: int64

In [29]:
cdc_raw_data.head()

,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,Race and ethnicity (combined),hosp_yn,icu_yn,death_yn,medcond_yn
0,2020/03/03,2020/03/03,NaN,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
1,2020/03/03,2020/03/03,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
2,2020/04/07,2020/03/03,2020/03/03,Laboratory-confirmed case,Unknown,0 - 9 Years,Unknown,No,Missing,Missing,Missing
3,2020/08/04,2020/08/04,NaN,Probable Case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
4,2020/07/28,2020/08/04,2020/07/28,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,No,No,No,Missing

In [30]:
# rename Race and ethnicity (combined) column to Race
cdc_raw_data.rename(columns={"Race and ethnicity (combined)": "Ethnicity"}, inplace=True)
# drop current_status = "Probable Case" as we are only analyzing confirmed cases
cdc_confirmed = cdc_raw_data[cdc_raw_data["current_status"] == "Laboratory-confirmed case"]
#
del cdc_confirmed["current_status"]
len(cdc_confirmed)

3521190

In [31]:
cdc_confirmed["death_yn"].value_counts()

No         1630310
Missing    1115673
Unknown     656346
Yes         118861
Name: death_yn, dtype: int64

In [32]:
# generate series of confirmed cases by Ethnicity, sex and age group
cdc_confirmed_ethnicity = cdc_confirmed.groupby("Ethnicity")["death_yn"].count()
cdc_confirmed_sex = cdc_confirmed.groupby("sex")["death_yn"].count()
cdc_confirmed_age_group = cdc_confirmed.groupby("age_group")["death_yn"].count()

In [33]:
# filter to death no
cdc_confirmed_death_no = cdc_confirmed[cdc_confirmed["death_yn"] == "No"]
# generate series of confirmed cases by Ethnicity, sex and age group
cdc_confirmed_ethnicity_no = cdc_confirmed_death_no.groupby("Ethnicity")["death_yn"].count()
cdc_confirmed_sex_no = cdc_confirmed_death_no.groupby("sex")["death_yn"].count()
cdc_confirmed_age_group_no = cdc_confirmed_death_no.groupby("age_group")["death_yn"].count()

In [34]:
# filter to death yes
cdc_confirmed_death_yes = cdc_confirmed[cdc_confirmed["death_yn"] == "Yes"]
# generate series of confirmed cases by Ethnicity, sex and age group
cdc_confirmed_ethnicity_yes = cdc_confirmed_death_yes.groupby("Ethnicity")["death_yn"].count()
cdc_confirmed_sex_yes = cdc_confirmed_death_yes.groupby("sex")["death_yn"].count()
cdc_confirmed_age_group_yes = cdc_confirmed_death_yes.groupby("age_group")["death_yn"].count()

In [35]:
# create summary dataframes
# Create dictionary of results
ethnicity_dict = {
    "CDC Confirmed": cdc_confirmed_ethnicity,
    "CDC Recovered": cdc_confirmed_ethnicity_no,
    "CDC Death": cdc_confirmed_ethnicity_yes,
}
#Create dataframe from dictionary
cdc_ethnicity = pd.DataFrame(ethnicity_dict)
cdc_ethnicity

,CDC Confirmed,CDC Recovered,CDC Death
Ethnicity,,,
American Indian/Alaska Native,26973,7383,841
Asian,67858,37334,4439
Black,409042,209899,22406
Hispanic/Latino,618428,318995,16821
Multiple/Other,90492,44322,4454
Native Hawaiian/Other Pacific Islander,7825,5278,166
Unknown,1488049,553333,16853
White,812517,453765,52881

In [36]:
# create summary dataframes
# Create dictionary of results
gender_dict = {
    "CDC Confirmed": cdc_confirmed_sex,
    "CDC Recovered": cdc_confirmed_sex_no,
    "CDC Death": cdc_confirmed_sex_yes,
}
#Create dataframe from dictionary
cdc_gender = pd.DataFrame(gender_dict)
cdc_gender

         CDC Confirmed  CDC Recovered  CDC Death
sex
Female         1779089         838417      54481
Male           1649492         747783      63390
Missing          53995          37775        837
Other               38             21          2
Unknown          38558           6307        151

In [37]:
# create summary dataframes
# Create dictionary of results
age_group_dict = {
    "CDC Confirmed": cdc_confirmed_age_group,
    "CDC Recovered": cdc_confirmed_age_group_no,
    "CDC Death": cdc_confirmed_age_group_yes,
}
#Create dataframe from dictionary
cdc_age_group = pd.DataFrame(age_group_dict)
cdc_age_group

               CDC Confirmed  CDC Recovered  CDC Death
age_group
0 - 9 Years           103712          56103         41
10 - 19 Years         257422         131548         71
20 - 29 Years         662852         318687        530
30 - 39 Years         602316         286231       1523
40 - 49 Years         558568         263996       3706
50 - 59 Years         539012         250678       9608
60 - 69 Years         378611         169677      20077
70 - 79 Years         214680          87369      29278
80+ Years             200150          65474      54013
Unknown                 3782            511          8

In [38]:
# export cdc data to csvs
filepath1 = os.path.join("clean_data_files","ethnicity summary.csv")
cdc_ethnicity.to_csv(filepath1)
filepath2 = os.path.join("clean_data_files","gender summary.csv")
cdc_gender.to_csv(filepath2)
filepath3 = os.path.join("clean_data_files","age group summary.csv")
cdc_age_group.to_csv(filepath3)